@media screen and (max-width: 768px) {
    .faq-container {
      flex-direction: column;
    }

    .banner-text,
    .banner {
      width: 100%;
    }

    .banner-text {
      margin-left: 0;
      margin-bottom: 20px;
    }

    .faq-tab {
      font-size: 1.25em;
      padding: 15px;
    }
    .faq-title {
        font-size: 1.75em;
        line-height: 32px;
        margin-bottom: 20px;
      }

      .select--service--dropdown {
        position: relative;
        margin-bottom: 40px;
        margin-right: 25px;
        display: inline-block;
      }

      .faq-select {
        font-weight: bold;
        font-size: 1em;
        border-radius: 5px;
        padding: 20px 40px 20px 20px;
        border: 1px solid #cecece;
        background-color: #fff;
        position: relative;
        appearance: none;
      }
    }