
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* 890 ke upar  laptop*/
@media screen and (min-width: 1200px) and (max-width: 1980px) {
  
 
  .aeps{
    margin :0;
  }


  .retailor-topslider{
   width: '3xl';
  }

  .insurance-data{

    margin-left: 3.5em;
  }


  .insurance-image{
    margin-left: 4.5em;

  }


  .travel-data{

    margin-left: 3rem;
  }


  
  .travel-image{
    margin-right: 3rem;
  }


.utility{

margin-left: 2rem;
}


.helpcontent{
  font-size: 3rem;

}


/* .personalloanimage{

  margin-left: 40rem;
} */


}

  /* .income-re{
    margin-bottom: 1rem;
    flex-direction: column;
  } */

  /* .hpnpay-mo{
    just
  
}


/* 449-889   tab*/
@media screen and (min-width: 890px) and (max-width: 1199px){
  
  
.Aeps-content{

margin-left: 5rem;

}



.aeps-image{

margin-left: 25rem;

}


  .utility{

    margin-left: 6rem;
    }

  .travel-data{

    margin-left: 3rem;
  }
  

  .travel-image{
    margin-right: 2rem;
  }

  /* .income-re{
    margin-bottom: 1rem;
    flex-direction: column;
  } */

  /* .hpnpay-mo{
    justify-content: center;
     margin:auto;
     width: 50%;
     height: 25%;
  } */


  /* .hpnpay-mo{
    / direction: column; /
    /* flex-direction: column;
  } */ 



  .join-ke-right{
    margin-left: 3rem;
  }


  .main-solution-component {
    display: flex;
    justify-content: space-around;
  }
  
  .main-solution-component > div {
    flex-basis: 50%;
  }

  /* .income-joinhnpay{
    width: 50%;
    background-color: purple;
  } */

  /* .income-joinhnpay Button {
    width: 50%; /* Adjust the width as needed
   } */



   .insurance-data{

    margin-left: 2.5em;
  }


  .insurance-image{
    margin-left: 4.3em;

  }


 .help-class{

   font-size: 5rem;
 }

 .helpcontent{
  font-size: 2rem;

}
  
}



/* 449----889 tak */
@media screen and (min-width: 449px) and  (max-width: 889px){
  
  



.retailor-image{
  margin-left: 1rem;
}

.gold-Investment-retailor{

padding-left: 2rem;
padding-right: 2rem;
}

.anand-shweta{
  /* direction: column;  */
  flex-direction: column;
  margin-left: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
  

.meetouradvisor{
  display:flex ;
  flex-direction: column;
}

/* .vision{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

} */
.help-class{

  font-size: 5rem;
}






.insurance-data{

  margin-left: 1.5em;
}


.insurance-image{
  margin-left: 3.5em;

}


.helpcontent{
  font-size: 2rem;
}
}



/* 449 ke niche  */

@media screen and (max-width: 449px) {
  
  .vision{
    margin: auto;
    /* background-color: purple; */
  }

  .retailor-image{
    margin-left: 2rem;
  }


  .gold-Investment-retailor{

    padding-left: 2rem;
    padding-right: 2rem;
    }



.help-class{

  font-size: 3rem;
}
   

}

/* @media screen and (min-width: 690px) {

.silver-Investment{
  margin-bottom: 1rem;
}

} */


@media screen and (min-width: 1270px) {

  .silver-Investment{
    margin-bottom: auto;
  }


}
  /* .ret-dist-indi{

    margin-left: auto;
    margin-right: auto;
  } */

  @media screen and (min-width: 1500px) {

  

   /* .digitalsuite-side{
     
   margin-right: 10rem;
   }  */
  

  .imagesretailor{

    margin-left: 5.5rem;
  }
  }



  @media screen and (min-width: 1600px) {

  
  

    .imagesretailor{
  
      margin-left: 6rem;
    }


    
    .content-ret-dist{
      margin-right:4rem;
    }
    }


  @media screen and (min-width: 1650px) {

  
  

    .imagesretailor{
  
      margin-left: 10rem;
    }


    .content-ret-dist{
      margin-right: 8rem;
    }


    }
  

    @media screen and (min-width: 1750px) {

  
  

      .imagesretailor{
    
        margin-left: 12rem;
      }


      .content-ret-dist{
        margin-right:8rem;
      }
      }


      @media screen and (min-width: 1800px) {

  
  

        .imagesretailor{
      
          margin-left: 14rem;
        }


        .content-ret-dist{
          margin-right:10rem;
        }
        }
    
  

  

  





@media screen and (max-width: 779px) {


  .icon-button {
    display: none;
  }



  .utility{

    /* margin-left: 2rem; */
    }



  @media (max-width: 768px) {
    .main-solution-component {
      flex-direction: column;
      align-items: center;
    }
  
    .main-solution-component > div {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  .choose-solution{
    margin-top: 3rem;
    margin-left:5rem;
    width: fit-content;
   
  }

}

@media (max-width: 980px) {

  .income-re button{
    flex-direction: column;
    width: 19rem;
    margin-right: 2rem;
  
  }

  .join-hpnpay{
    margin-top: 10px;
  }

}

@media screen and (max-width: 860px) {


  .mobileno-contactus{
    direction: column;
  }

  .navfontsize{
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
  }

  .retailor-corporate{
    font-size: 0.7rem;
  }
}


@media screen and (min-width: 860px) {

  .vision{


    margin: auto;
    
  }


  .credit-emailbox{
    margin-left: 5rem;
  }

}


@media screen and (max-width: 1127px) {

.retailor-corporate{
  padding-top: 1.2rem;
}

.pro-solu{

  padding-top: 1.3rem;
}




}


@media screen and (max-width: 867px) {

  .retailor-corporate{
    padding-top: 1rem;
  }
  
  .arrow{

    display: none;
  }
  
  }

  @media screen and (max-width: 754px) {


  .retailor-corporate{
   font-size: 1.3rem;


  }
  .insurance {
    margin: auto;
  }

  .insurance-data{
    margin-left: 1rem;

  }
    .insurance-image{
      margin-left: 1rem;
    
    }
   
    .get-intouch-travel{
      margin-bottom: 2rem;
    }


    .credit-image{

      margin-left: 2rem;
    }


    .credit-emailbox{
      margin-left: 2rem;
    }


  }

  @media screen and (max-width: 800px) {

  .choose-solution{

   margin-top:10rem;

    margin: auto;
  }


  .contactTopImage{

    margin: auto;

  }

  
  .goldinvestmentimage{


  width: auto;
  }


}



@media screen and (max-width: 1267px) {





.vision{

  margin: auto;
  background-color: rgb(35, 35, 156);
}



  

  }


  @media screen and (min-width: 900px) {


  .banking-image{

   margin-top: 2rem;

  }


  .help-class{

    font-size: 7rem;
  }


  .travel-image{
    margin-right: 10rem;
  }

 
  }
  

  @media screen and (max-width: 900px) {


 .utility{

  margin-left: 2rem;
 }

 .travel-image{
  margin-right: 4rem;
}



  }
 


/* new code .................... */

/* Styles for screens larger than 1200px */







.clicked :active {
  background-color: #282c34 !important;
}

a:visited {
  border-bottom: 2px solid blue;
}




























@media (min-width: 1200px) {
  .aeps {
    flex-direction: row; /* Arrange elements horizontally */
    margin: 0; /* Remove margin */
  }

  .aeps .image {
    width: 50%; /* Set image width to 50% of the container */
    margin-right: 2rem; /* Add spacing between image and text */
  }

  .aeps .text-container {
    width: 50%; /* Set text container width to 50% of the container */
  }
}

/* Styles for screens between 768px and 1200px */
@media (min-width: 768px) and (max-width: 1200px) {
  .aeps {
    flex-direction: row; /* Arrange elements horizontally */
  }

  .aeps .image {
    width: 40%; /* Set image width to 40% of the container */
    margin-right: 2rem; /* Add spacing between image and text */
  }

  .aeps .text-container {
    width: 60%; /* Set text container width to 60% of the container */
  }
}

/* Styles for screens between 576px and 768px */
@media (min-width: 576px) and (max-width: 768px) {
  .aeps {
    flex-direction: column; /* Arrange elements vertically */
  }

  .aeps .image {
    width: 100%; /* Set image width to 100% of the container */
    margin-bottom: 2rem; /* Add spacing between image and text */
  }

  .aeps .text-container {
    width: 100%; /* Set text container width to 100% of the container */
  }
}

/* Styles for screens smaller than 576px */
@media (max-width: 576px) {
  .aeps {
    flex-direction: column; /* Arrange elements vertically */
  }

  .aeps .image {
    width: 100%; /* Set image width to 100% of the container */
    margin-bottom: 2rem; /* Add spacing between image and text */
  }

  .aeps .text-container {
    width: 100%; /* Set text container width to 100% of the container */
  }
}

li.active a:before,
a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.active {
  background-color: rgb(255, 0, 13);
}







































